/*@+ common */
.pmxi_plugin hr {
	height: 1px;
	border-width: 0px;
	color: #ddd;
	background-color: #ddd;
	margin-bottom: 15px;
}
.pmxi_plugin a.button {
	padding: 5px 10px;
	margin: 1px;
	font-weight: bold;
}
.pmxi_plugin a.help {
	overflow: hidden;
	text-indent: -99999px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url("../img/help.png");
	vertical-align: middle;
	margin-left: 5px;
}
.pmxi_plugin input.datepicker {
	width: 8em;
}
.pmxi_plugin button.ui-datepicker-trigger {
	background-image: url("../img/date-picker.gif");
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	margin: 1px;
	width: 21px;
	height: 18px;
	vertical-align: middle;
}
.pmxi_plugin .progress-msg {
	font-style: italic;
}
.pmxi_plugin .inner-content {
	max-width: 700px;
}
.pmxi_plugin .loading {
	cursor: progress;
	background-repeat: no-repeat;
	background-position: center;
}
.pmxi_plugin a.add-new {
	font-size: 18px;
	background-color: #eee;
	cursor: pointer;
	padding: 6px 10px 6px 10px;
	line-height: normal;
	font-style: normal;
	color: #464646;
	border-color: #bbb;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px;
    border-style: solid;
    border-width: 1px;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	text-decoration: none;
}
.pmxi_plugin a.add-new:hover {
	border-color: #666666;
	color: #000;
}
.pmxi_plugin div.input {
	line-height: 25px;
	height: 25px;
}
	.pmxi_plugin div.input > * {
		vertical-align: middle;
	}
.pmxi_plugin .note {
	color: #666666;
	font-size: 11px;
}
.pmxi_plugin div.sub {
	padding-left: 20px;
	font-size: 12px;
}
/* 2 column layout */
.pmxi_plugin table.layout {
	clear: both;
	border-collapse: collapse;
	min-width: 770px;
	width: 100%;
}
	.pmxi_plugin table.layout td {
		vertical-align: top;
		border: none;
	}
	.pmxi_plugin table.layout td.left {
		min-width: 490px;
		width: 70%;
	}
	.pmxi_plugin table.layout td.right {
		padding: 0px 0 16px 20px;
		width: 30%;
		min-width: 260px; 
	}
		.pmxi_plugin table.layout td.left > h2:first-child {
			margin-top: -22px;
			padding: 14px 0 3px 0;
		}
		.pmxi_plugin table.layout td.left hr {
			clear: both;
		}
		.pmxi_plugin.no-js table.layout td.left > h2:first-child {
			margin-top: 0px;
		}
/*@*/

/*@+ Setting Form */
.pmxi_plugin form.settings {
	width: 700px;
}
/*@*/

/*@+ Choose File forms */
.pmxi_plugin form.choose-file {
	padding-top: 10px;
}
	.pmxi_plugin form.choose-file h3 {
		margin-bottom: 5px;
	}
	.pmxi_plugin form.choose-file .label {
		font-size: 15px;
	}
	.pmxi_plugin form.choose-file input[type="text"],
	.pmxi_plugin form.choose-file input[type="password"] {
		width: 80px;
		font-size: 12px;
	}
	.pmxi_plugin form.choose-file input.regular-text,
	.pmxi_plugin form.choose-file select.regular-text {
		width: 300px;
	}
	.pmxi_plugin #wpcontent form.choose-file select[name="file"],
	.pmxi_plugin #wpcontent form.choose-file select[name="reimport"] {
		font-size: 12px;
	}
	.pmxi_plugin form.choose-file input[type="submit"].button {
		width: 150px;
	}
	.pmxi_plugin form.choose-file div.input {
		margin-top: 20px;
	}
/*@*/

/*@+ Choose Elements form */
.pmxi_plugin form.choose-elements input[type="text"] {
	width: 100%;
	max-width: 300px;
	min-width: 150px;
}
/*@*/

/*@+ Template form */
.pmxi_plugin form.template.edit {
	/*width: 700px;*/
}
	.pmxi_plugin form.template .load-template {
		display: block;
		float: right;
		padding-top: 7px;
		font-size: 12px;
	}
		.pmxi_plugin form.template .load-template select {
			width: 126px;
		}
	
.pmxi_plugin #poststuff form.template h3 {
	margin: 1em 0 5px 2px;
	font-size: 1.17em;
	padding: 0px;
}
.pmxi_plugin #post-preview {
	font-size: 12px; 
}
	.pmxi_plugin #post-preview .error {
		margin: 5px 0;
	}
.pmxi_plugin h3 .header-option {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
}
/*@*/

/*@+ Options form */
.pmxi_plugin form.options.edit {
	/*width: 700px;*/
}

.pmxi_plugin .post-type-container,
.pmxi_plugin .file-type-container {
	padding: 4px 10px 5px;
	border: 1px solid transparent;
}
.pmxi_plugin .post-type-container.selected,
.pmxi_plugin .file-type-container.selected {
	background-color: #F2FBD9;
	border: 1px solid #B5E61D;
	padding-bottom: 10px;
}
	.pmxi_plugin .post-type-container h3,
	.pmxi_plugin .file-type-container h3 {
		margin: 0px 0px;
	}
	.pmxi_plugin .post-type-container .post-type-options,
	.pmxi_plugin .file-type-container .file-type-options {
		margin: 5px 0 0 20px;
	}

.pmxi_plugin table.form-table {
	clear: none;
	margin-top: 0px;
}
.pmxi_plugin .post-type-options table.form-table {
	max-width: 500px;
}
	.pmxi_plugin .post-type-options table.form-table td.delim {
		width: 50px;
		position: relative;
		display: block;
	}
		.pmxi_plugin .post-type-options table.form-table td.delim input {
			width: 20px;
		}
.pmxi_plugin table.form-table.custom-params {
	max-width: 700px;
}
	.pmxi_plugin table.form-table td,
	.pmxi_plugin table.form-table th {
		padding: 2px 4px;
		vertical-align: top;
	}
	.pmxi_plugin .post-type-options table.form-table th {
		width: 100px;
	}
	.pmxi_plugin .post-type-options table.form-table select {
		max-width: 300px;
	}
	.pmxi_plugin table.form-table thead td {
		font-weight: bold;
	}
	.pmxi_plugin table.form-table.custom-params input {
		margin-left: 0;
	} 
	.pmxi_plugin table.form-table tr.template {
		display: none;
	}
/*@*/

/*@+ XML representation */
.pmxi_plugin .tag {
	border: 1px solid #DFDFDF;
	background-color: #fff;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	.pmxi_plugin .tag .title {
		font-weight: bold;
		padding: 6px 8px;
		color: #464646;
		background: url("../../../../../wp-admin/images/gray-grad.png") repeat-x scroll left top #DFDFDF;
		font-size: 12px;
	}
	.pmxi_plugin .tag .xml {
		max-height: 600px;
		overflow: auto;
	}
	.pmxi_plugin .tag .navigation {
		float: right;
		margin: -2px -12px 0 0;
	}
		.pmxi_plugin .tag .navigation a,
		.pmxi_plugin .tag .navigation span {
			font-weight: bold;
			padding: 0 12px;
			text-decoration: none;
		}

.xml {
	padding-left: 15px;
}
.xml-element {
	border: 1px solid transparent;
	margin: 1px 1px 1px 0;
}
.xml-element.selected > .xml-tag.opening .xml-tag-name {
	background-color: #B5E61D;
}
.xml-content {
	padding-left: 14px;
}
.xml-content.collapsed {
	display: none;
}
.xml-content.textonly.short {
	padding-left: 0px;
	display: inline;
}
.xml-tag {
	display: inline;
}
.xml-tag-name {
	color: #906;
	font-weight: bold;
}
.xml-tag.opening .xml-tag-name {
	cursor: pointer;
}
.xml-attr-name {
	font-weight: bold;
	cursor: pointer;
}
.xml-attr-value {
	color: blue;
}
.xml-expander {
	display: inline-block;
	width: 12px;
	margin-left: -12px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	font-family: monospace;
	line-height: 100%;
	text-align: left;
	color: red;
}
.xml-more {
	color: red;
	font-size: 80%;
}
.xml.resetable .xml-element.lvl-mod4-3 > .xml-content {
	margin-left: -59px;
	margin-right: -8px;
	background-color: #fff;
	border: 1px dashed #906;
	border-left: 2px solid #906;
	border-right: none;
}
.xml.resetable .xml-element.lvl-mod4-3 > .xml-content.short {
	margin-left: 0;
	margin-right: 0;
	border: none;
	background-color: inherit;
}
/* xml table representation */
tr.xml-element.selected .xml-tag.opening .xml-tag-name {
	background-color: #B5E61D;
}
table.xml td {
	padding-left: 20px;
}
table.xml td:first-child {
	width: 1px;
	padding-left: 0px;
}

table.xml,
table.xml table {
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
}
/*@*/

/*@+ table list */
.pmxi_plugin table.widefat th {
	white-space: nowrap;
}
.pmxi_plugin table.widefat th.ASC a {
	background-image: url("../img/screen-options-right-up.gif");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 19px;
}
.pmxi_plugin table.widefat th.DESC a {
	background-image: url("../img/screen-options-right.gif");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 19px;
}

.pmxi_plugin table.widefat.pmxi-admin-imports th.column-id {
	width: 35px;
}
.pmxi_plugin table.widefat.pmxi-admin-imports th.column-scheduled {
	width: 85px;
}
.pmxi_plugin table.widefat.pmxi-admin-imports th.column-registered_on {
	width: 130px;
}
.pmxi_plugin table.widefat.pmxi-admin-imports th.column-post_count {
	width: 105px;
}
/*@*/

/*@+ fixes */
.pmxi_plugin input[type="file"] {
	padding: 0; /* FIX height or <input type="file" /> for Safari & Chrome */
}
.pmxi_plugin .ui-widget-overlay {
	position: fixed !important; /* FIX: modal dialog overlay in IE 8 */
	background-color: #aaa !important; /* FIX: overlay color */
}
.pmxi_plugin .ui-dialog {
	position: absolute !important; /* FIX: for wordpress 3.1 not to add empty space */
}
.pmxi_plugin .ui-autocomplete {
	position: absolute;
	border-color: #ccc #444 #444 #aaa;
	cursor: default;
	-moz-border-radius: 0;
	border-radius: 0;
	max-height: 200px;
	max-width: 700px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	font-size: 11px;
}
	.pmxi_plugin .ui-autocomplete .ui-menu-item {
		padding: 0;
		margin: 0;
	}
		.pmxi_plugin .ui-autocomplete .ui-menu-item a {
			display: block;
			padding: 2px;
			padding-right: 20px; /* space for scroll bar */
			font-size: 11px;
			border: none;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		.pmxi_plugin .ui-autocomplete .ui-menu-item a.ui-state-hover {
			background: #39f;
			color: #fff;
		}
.pmxi_plugin input.autocomplete {
	background: url("../img/down.gif") no-repeat right top #fff;
	padding-right: 20px;
	cursor: default;
	font-size: 11px !important;
}
/*@*/

.pmxi_plugin .taglines{
	font-size:13px;
	font-style: italic;
	display: block;
	color: #777;
}

.pmxi_plugin #process{ display:none; }
.pmxi_plugin .load-options{ float:right; font-size:13px; }
.pmxi_plugin form.options table.layout td.right{
	position: fixed;
	width: 25%;
}
.pmxi_plugin .drag-element{
	background: url("../img/drag.png") top right no-repeat;
	cursor: pointer;
	padding-right: 25px;
	background-position: 100% 1px;	
}
.sortable li{ position: relative;}
.pmxi_plugin ol{
	margin-top: 6px;
	list-style: none;
}
.pmxi_plugin .no-margin{ margin:0px; }
.pmxi_plugin .icon-item{
	display: inline-block;;
	width: 16px;
	height: 16px;
	margin: 0px 3px;
}
.pmxi_plugin .add-new-ico{ 
	background: url("../img/ico-add-new.png") no-repeat;	
	position: absolute;
	top:5px;
	right: 0px;
}

.pmxi_plugin .remove-ico{
	background: url("../img/ico-remove.png") no-repeat;
	top:1px;
	right:-30px;
	position: absolute;
}

.pmxi_plugin .hidden{ display: none; }